:root {
  /* Colors */
  --brand-color-1-hex: #000;
  --brand-color-1-rgb: 0, 0, 0;
  --brand-color-2-hex: #fff;
  --brand-color-2-rgb: 255, 255, 255;
  --brand-color-3-hex: #f00;
  --brand-color-3-rgb: 255, 0, 0;
  --brand-color-4-hex: #0f0;
  --brand-color-4-rgb: 0, 255, 0;
  --brand-color-5-hex: #00f;
  --brand-color-5-rgb: 0, 0, 255;
  --brand-color-6-hex: #444;
  --brand-color-6-rgb: 68, 68, 68;
  --brand-color-7-hex: #666;
  --brand-color-7-rgb: 102, 102, 102;
  --brand-color-8-hex: #ccc;
  --brand-color-8-rgb: 204, 204, 204;
  --brand-color-9-hex: #eee;
  --brand-color-9-rgb: 238, 238, 238;
  --brand-color-10-hex: #808;
  --brand-color-10-rgb: 136, 0, 136;
  --brand-color-11-hex: #ff0;
  --brand-color-11-rgb: 255, 255, 0;
  /* Z-index */
  --behind: 1;
  --content: 5;
  --above: 10;
  --modal: 15;
  /* Fonts */
  --font-family-text: 'Raleway', sans-serif; /* 500, 500i, 700, 700i */
  --font-family-titles: "Darker Grotesque", sans-serif; /* 500, 700 */
  --font-family-detail: "Darker Grotesque", sans-serif; /* 500, 700 */
  /* Base units */
  --main-font-size: 16px;
  --gutter: 10px;
  --column: 70px;
  /* Font sizes */
  --font-size-xs: calc(var(--main-font-size) * 0.75);
  --font-size-s: calc(var(--main-font-size) * 1);
  --font-size-m: calc(var(--main-font-size) * 1.25);
  --font-size-l: calc(var(--main-font-size) * 1.5);
  --font-size-xl: calc(var(--main-font-size) * 2);
  --font-size-xxl: calc(var(--main-font-size) * 4);
  /* Space sizes */
  --space-size-xxs: calc(var(--gutter) * 0.5);
  --space-size-xs: calc(var(--gutter) * 1);
  --space-size-s: calc(var(--gutter) * 2);
  --space-size-m: calc(var(--gutter) * 4);
  --space-size-l: calc(var(--gutter) * 6);
  --space-size-xl: calc(var(--gutter) * 8);
  --space-size-xxl: calc(var(--gutter) * 10);
	/* Aspect ratio */
	--ratio-3-4-portrait: calc((4 / 3) * 100%);
	--ratio-16-9-landscape: calc((9 / 16) * 100%);
	/* Shadows */
	--shadow: 2px 2px 2px 1px rgba(var(--brand-color-1-rgb), 0.5);
	--shadow-hover: 3px 3px 2px 2px rgba(var(--brand-color-1-rgb), 0.2);
	/* Transition type and timing */
	--transition-1: 0.3s ease-in-out;
	--transition-2: 0.25s ease-in;
  /* Component global vars */
  --sticky-header-height: 70px;
  /* mover para component anchor */
  --anchor-position: calc(var(--sticky-header-height) + var(--gutter));
}

@media only screen and (max-width: 425px) {
  :root {
    /* Font sizes scaled down for mobile */
    --font-size-l: calc((var(--main-font-size) * 1.5) * 0.9);
    --font-size-xl: calc((var(--main-font-size) * 2) * 0.8);
    --font-size-xxl: calc((var(--main-font-size) * 4) * 0.75);
  }
}
